body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header {
  background: white;
  color: rgba(105, 165, 165, 0.467);
  padding: 15px;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 1000;
  font-size: 30px;
}
main {
  width: 1000px;
  margin-inline: auto;
  text-align: center;
}
.h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 1000;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: rgb(73, 70, 70);
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 40px;
  background: #e8f5e9;
  width: 100%;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  text-align: center;
  padding: 40px;
  background: #bdd7bf;
  width: 100%;
}

.gallery h2 {
  color: rgba(105, 165, 165, 0.467);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.flower-container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.flower-container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.flower-card {
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 20%;
}

.flower-card img {
  width: 100%;
  border-radius: 8px;
}

button {
  background: rgb(111, 169, 111);
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: rgb(235, 221, 224);
}

.cart {
  padding: 20px;
  background: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
